# Default ignored files
/shelf/
/.idea/workspace.xml
**/.DS_Store
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Gradle
build/
gradle/
src/main/resources/application.yml
# IntelliJ IDEA
.idea/